# Installs Node.js dependencies and Yarn, and checks formatting + linting

name: Lint Node.js

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - "src-tauri/**"

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Disable git core.autocrlf on Windows
        if: matrix.os == 'windows-latest'
        run: git config --global core.autocrlf false

      - name: Checkout repository code
        uses: actions/checkout@v3

      - name: Set up Node.js LTS v16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "yarn"

      - name: Install dependencies from yarn.lock
        run: yarn install --frozen-lockfile

      - name: Run lint step
        run: yarn lint
